.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  &.sm {
    max-width: 470px;
  }
}

.flexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
