.title {
    line-height: 1.2;


}

.title.sm {
    font-size: 1rem;
}

.title.md {
    font-size: 1.125rem;
}

.title.lg {
    font-size: 25px;
}

.center {
    text-align: center;
}

.start {
    text-align: start;
}

.end {
    text-align: end;
}

.headline {
    font-size: 0.75rem;
}

.gray {
    color: $gray-1;
}

.bold {
    font-weight: bold;
}

.highlight {
    color: $violet-color-1;
}

.paragraph {
    line-height: 1.4;
    font-size: 1rem;
}