.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: bisque;
}

.header h1 {
  color: blue;
  font-size: 2rem;
}

.header > nav > ul {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
