.registerForm {

    display: flex;
    flex-direction: column;
    min-width: 500px;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid gray;

}

.registerForm > button {

    padding: 0.5rem 1rem;  
}
